*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    background: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    text-align: center;
    margin: 0 auto;
    font-family: "roboto", sans-serif;
}
h1{ 
    width: 50%;
    margin: 100px auto;
}
iframe{
    width: 50%;
    margin: 0 auto 100px;
    border-radius: 15px;
}
p{  
    width: 50%;
    background: #e8dbc9c4;
    border-radius: 20px;
    box-shadow: 3px 0px 20px 0;
    padding: 40px;
    line-height: 30px;
    margin: 0 10% 200px
}
#wemby, #okobo{
    position: absolute;
    width: 30%;
    left: 725px; 
    border-radius: 10px; 
    box-shadow: 5px -7px 15px 0px #897168;
}
#wemby{
    top: 130%; 
}
#okobo{
    top: 240%;  
}
footer{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    line-height: 30px;
    padding: 20px;
    background: linear-gradient(to right, #ffecd2 0%, #fcb69f  100%);
    box-shadow: 5px -7px 15px 0px #897168;
}
footer li{
    cursor: pointer;
}
@media screen and (max-width: 750px){
    
    iframe{
        visibility: hidden;
    }
    #wemby{
        width: 50%;
        top: 500px; 
        left:200px;

    }
    #okobo{
        width: 50%;
        top: 220px; 
        left:100px;
    }
    p{
        width: 70%;
        font-size: 13px;
        margin: 0 auto;
        border-radius: 20px 20px 0 0;
        text-align: left;
    }
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 12px;
    }
    
    
}