*{ 
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
:root {
    --title-color: #f4f4f4;
}
@font-face {
    font-family: "Roboto";
    src: url(./Assets/fonts/Roboto-Light.ttf);
}
body{
    background: url(./Assets/images/bg.jpg) fixed center/cover;
    overflow: hidden;
}
a:link {
    color: var(--title-color);
    text-decoration: none;
  }
a:visited{
    color: var(--title-color);
    text-decoration: none;
}
.nav-bar ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 200px;
}
.nav-bar li a{
    text-transform: uppercase;  
    text-align: center;  
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 3px;
    padding: 5px;
    cursor: pointer;
}
.nav-bar li{
    transition: 1s;
}
.nav-bar li a:hover{
    background:#e08c70; ;
    color:rgba(9, 9, 9, 0.9);
    border-radius: 5px;
}
.nav-bar li:hover{
    transform: scale(1.1) translateY(5px);
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    min-height: 100vh;
    transition: 1s ease;
} 
h1{
   background: -webkit-linear-gradient(#f6f5f4, #e08c70);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    font-size: 4rem;
    font-family: "Roboto", sans-serif;
    letter-spacing: 10px;
    margin-bottom: 100px;
}
.arrow-1, .arrow-2{
    width: 150px;
    height: 100px;
    position: relative;
    transform: rotate(90deg);
    top: 0;
    cursor: pointer;
    margin-bottom: 200px;
    animation: animArrow 1s ease infinite;
    transition: 0.05s;
}
@keyframes animArrow {
    to{
       top: 10px;
    }
}
.arrow-2{
    margin: 0 auto 5%;
}
.arrow-1-component-top,  
.arrow-2-component-top{
    position: absolute;
    width: 50px;
    height: 5px;
    left: 50px;
    background: var(--title-color);
    transform: rotate(45deg) translateY(45px);     
}
.arrow-1-component-bottom, 
.arrow-2-component-bottom{
    position: absolute;
    top: 95px;
    width: 50px;
    height: 5px;
    left: 50px;
    background: var(--title-color);
    transform: rotate(-45deg) translateY(-45px);      
}
.arrow-2-component-top{
    transform: rotate(-45deg) translateY(45px);     
}
.arrow-2-component-bottom{
    transform: rotate(45deg) translateY(-45px);      
}
.main{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr) ;
    gap: 40px;
    margin: 0 auto 50px;
}
.rgl-container, 
.pro-a-container, 
.nba-container, 
.euro-league-container,
.fiba-container, 
.other-sports-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    border-radius: 15px 0;
    transition: 1s ease;
    box-shadow: 4px -4px 14px #e08c70;   
}
img{
    width: 102%;
    height: 92%;
    border-radius: 20px 0;
    opacity: 0.9;   
}
h3{
    color: var(--title-color);
    text-transform: uppercase;
    font-size: 1.3vw;
    font-family: "Roboto", sans-serif;
    letter-spacing: 5px;        
}
.rgl-container:hover, 
.nba-container:hover, 
.pro-a-container:hover, 
.euro-league-container:hover, 
.fiba-container:hover, 
.other-sports-container:hover{
    background:#e08c70;
    box-shadow: none;
    transform: scale(1.1);
}
@media screen and (max-width: 700px){
       .nav-bar ul{
        display: none;
       }
       .header{
           display: inline;
        }
        .header h1{
            margin: 30px auto;
            font-size: 3.3rem;
        }
        .main{
            width: 90%;
        }
        .main h3{
            font-size: 15px ;
        }
    .arrow-1, .arrow-2{
     display: none;
     height: 0;
     margin-bottom: 0;
    }
 }
 @media screen and (max-width: 500px){
    body{
        overflow: visible;
       }
    .header h1{
        font-size: 2.5rem;
    }
    .main{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 50px;
    }
 }
    

